@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,900&display=swap');

*{
    margin:0;
    padding:0;
    
}
ul{
    position: relative;
}
ul li{
   list-style: none;
   display: inline-block;
    
   
}
    
ul li a{
    position: relative;
    padding:10px 60px;
    color:white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    line-height: 80px;
    text-align: center;
    font-size:25px;
    font-weight: 700;
        
}

.navbar{
    background-color: red;
    height:80px;
    position: fixed;
    top:0;
    width:100%;
    overflow:hidden;
    
    
    }
ul li:hover{
    background-color: #A20B0B;
}
h1{
    font-size:50px;
    font-family:"Algerian";
    font-weight:900;
    text-decoration-style:dotted;
    text-decoration: underline;
}
h3{
    font-family:"Roboto";
    padding-right:600px;
    color:white;

}
